<nav id="menu">
    <a class="brand" href="/"><img class="logo" src="/static/img/logo.png" alt="logo" />Libre Captcha</a>
    <div id="toggle-menu"><img class="burger" src="/static/img/burger.png" alt="burger menu" /></div>
    <div id="basic">
        <ul>
            <li><a {%if True%}class="selected"{%endif%} href="{{ url_for('core.home') }}">{{ _("About") }}</a></li>
            <li><a href="https://librecaptcha.readthedocs.io/en/latest">{{ _("Documentation") }}</a></li>
            <li><a href="{{ url_for('core.faq') }}">{{ _("Contribute") }}</a></li>
            <li><a href="{{ url_for('core.faq') }}">{{ _("FAQ") }}</a></li>
            <li><a href="{{ url_for('core.faq') }}">{{ _("Contact") }}</a></li>
        </ul>
    </div>
    <div id="small">
        <ul>
            <li><a {%if True%}class="selected"{%endif%} href="{{ url_for('core.home') }}">{{ _("About") }}</a></li>
            <li><a href="https://librecaptcha.readthedocs.io/en/latest">{{ _("Documentation") }}</a></li>
            <li><a href="{{ url_for('core.faq') }}">{{ _("Contribute") }}</a></li>
            <li><a href="{{ url_for('core.faq') }}">{{ _("FAQ") }}</a></li>
            <li><a href="{{ url_for('core.faq') }}">{{ _("Contact") }}</a></li>
        </ul>
    </div>
</nav>
