{% extends 'base.html' %}
{% block content %}
<section class="row">
    <section class="col-12">
    <h1>{{ _("Developpers") }}</h1>

    <p>{{ _("Todo...") }}</p>
    </section>
</section>
{% endblock %}
