{%extends "base.html"%}
{%block content%}
<article id="main">
    <section id="content">
    <h1>{{ _("What is LibreCaptcha ?") }}</h1>
    <p>{{ _("LibreCatpcha is a <a href='https://en.wikipedia.org/wiki/CAPTCHA'>Captcha</a> generator.") }}</p>
    <p>{{ _("It aims to help people fight against spam without giving their users's data to big companies.") }}</p>
    <p>{{ _("In order to do so, it comes with some speciic features:") }}
    <ul>
        <li>{{ _("AGPL licence") }}</li>
        <li>{{ _("Accessibility in mind") }}</li>
        <li>{{ _("Anti-spam sufficient efficiency") }}</li>
        <li>{{ _("Self-hosting capability") }}</li>
    </ul>
    </p>

    <h1>{{ _("Integration") }}</h1>
    <h2>{{ _("Basic integration") }}</h2>
    <p>{{ _("Integration is made in three easy steps:")}}
    <ol>
        <li>{{ _("Add a call to a specific javascript on your form page.") }}</li>
        <li>{{ _("Add a small html snippet in your form.") }}</li>
        <li>{{ _("And finally, verify your user's answer via an API call.") }}</li>
    </ol>
    </p>
    <p>{{ _("This part is detailed into <a href='https://librecaptcha.readthedocs.io/en/latest/integration'>Integration</a> section in documentation.") }}</p>
    <h2>{{ _("Integrate LibreCaptcha in your web application") }}</h2>
    <p>{{ _("Integration of Captcha in your webapp is certainly done yet with reCaptcha.")}}</p>
    <p>{{ _("If you want to let your users choose between reCaptcha and LibreCaptcha you just have to add a new field called <b>domain</b> in your configuration.")}}</p>
    <p>{{ _("Indeed, LibreCaptcha interacts exactly as reCaptcha, easying its integration in existent software. And you only need to replace the good old <b>google.com</b> by <b>librecaptcha.org</b> and set your public and private tokens to take advantage of LibreCatpcha.")}}</p>
    <p>{{ _("More on this in <a href='https://librecaptcha.readthedocs.io/en/latest/integration#replacing-recaptcha'>Replacing reCaptcha</a> sub-section in documentation.") }}</p>

    <h1>{{ _("Issues & support") }}</h1>
    <p>{{ _("If you have any issue, we got a <a href='%s'>F.A.Q.</a>. Mabe your question (and thus the answer) is well known." % url_for("core.faq")) }}</p>
    <p>{{ _("You can also create a ticket (need subscription) on <a href='https://framagit.org/Mindiell/captcha/-/issues'>our issue tracker</a> if the answer is not good enough or not there already.") }}</p>
    <p>{{ _("If you need support, you can come on IRC and talk to us directly (#librecaptcha on Freenode).") }}</p>
    <p>{{ _("You can also email us at contact (at) librecaptcha (dot) org.") }}</p>

    <h1>{{ _("Contribute") }}</h1>
    <p>{{ _("If you'll like to contribute to this project, you can have a look in the <a href='https://librecaptcha.readthedocs.io/en/latest/contribute'>Contribute</a> section of the documentation.") }}</p>
    <p>{{ _("Code source is available <a href='https://framagit.org/Mindiell/captcha'>here</a>.") }}</p>

    </section>
</article>
{%endblock%}
