{% extends 'base.html' %}
{% from 'formhelper.html' import render_field %}
{% block content %}
<h1>{{_('Delete your account')}}</h1>
<p>{{_("Be very careful, once your account will be deleted, no more challenges could be displayed on your webpages, thus no user would be able to submit any form. You should be sure that you are no more using Libre Captcha on your different websites in order to delete your account without any problem.")}}</p>
<p>{{_("Plus, once deleted all informations about your domains, keys, and statistics will be completely deleted and won't be recoverable.")}}</p>

<form class="rc text-center" method="POST" action="{{ url_for('user.confirm_delete') }}">
<input type="submit" class="validation btn btn-primary" value="{{_("Ok, I understand and really want to delete my account")}}" />
</form>
{% endblock %}
