{% extends 'base.html' %}
{% from 'formhelper.html' import render_field %}
{% block content %}
<form class="rc text-center" method="POST" action="{{ url_for('user.login') }}">
<h1>{{_('Log-in')}}</h1>
<fieldset id="test">
    {{ g.form.hidden_tag() }}
    {{ render_field(g.form.login, True) }}<br />
    {{ render_field(g.form.password) }}
</fieldset>
<br />
<input type="submit" class="validation btn btn-primary" value="Connexion" />
</form>
{% endblock %}
