body {
margin:0;
background-color:#fcfcfc;
font-family:Georgia, serif;
}
#menu {
position:fixed;
width:100%;
background-color:black;
padding:1em;
font-size:1.6em;
height:48px;
}
#menu a {
color:white;
text-decoration:none;
}
.brand {
font-size:1.2em;
padding-right:1em;
}
.logo {
width:48px;
vertical-align:bottom;
padding-right:.4em;
}
#toggle-menu {
display:none;
}
#menu #basic {
display:inline-block;
}
#menu #small {
display:none;
}
#menu ul {
list-style-type:none;
margin:0;
padding:0;
}
#menu ul li {
display:inline-block;
padding-right:.4em;
min-width:4em;
text-align:center;
font-size:.8em;
}
#menu .selected {
color:#fe9a00;
}
#main {
max-width:60em;
margin:0 auto;
padding:2.4em;
padding-top:120px;
}
#content {
font-size:1.2em;
}
h1 {
font-size:1.8em;
margin:0;
}
footer {
position:fixed;
width:100%;
bottom:0px;
background-color:black;
color:white;
text-align:center;
padding:1em;
font-size:1em;
}
@media only screen and (max-width:60em) {
.brand {
font-size:1.1em;
padding-right:.3em;
}
#menu {
position:static;
height:inherit;
}
#menu #basic {
display:none;
}
#menu #small {
display:none;
margin-left:-26px;
padding-top:1em;
}
#menu #small ul li {
display:block;
padding:.4em 1em;
text-align:left;
font-size:.8em;
}
#toggle-menu {
display:block;
float:right;
margin-right:2em;
cursor:pointer;
}
#main {
padding:1em 3em;
}
}
@media only screen and (max-width:30em) {
.brand {
font-size:.8em;
padding-right:.3em;
}
.logo {
width:24px;
}
#toggle-menu img {
width:36px;
}
#main {
padding:1em;
}
}
